.oxMain {
  opacity: 0;
}

.oxMain.is_loaded {
  opacity: 1;
}

.oxMain.is_loaded .LottieGift {
  animation: moveDownToUpLottieGift ease 1.5s;
}

.oxMain.is_loaded .LottiePlay1 {
  animation: moveDownToUpLottiePlay1 ease 1.5s;
}

.oxMain.is_loaded .LottiePlay2 {
  animation: moveDownToUpLottiePlay2 ease 1.5s;
}

.oxMain.is_loaded .imgCloudMain {
  animation: moveCloud 100s linear infinite;
}

.oxMain.is_loaded .wrap__ImgTitle {
  animation: moveUpToDown ease 1.5s;
}

.oxMain.is_loaded .btnStart {
  animation: btnScale 1.5s infinite;
}

.oxMain.is_loaded .imgHill {
  animation: moveDownToUpImg ease 1.5s;
}

.LottieGift {
  position: absolute;
  width: 20%;
  bottom: 28%;
  left: 2%;
  z-index: 0;
}
.LottiePlay1 {
  position: absolute;
  width: 30%;
  bottom: 2%;
  left: 10%;
  z-index: -1;
}
.LottiePlay2 {
  position: absolute;
  width: 20%;
  bottom: 8%;
  right: 20%;
  z-index: -1;
}

.imgCloudMain {
  position: absolute;
  bottom: 38%;
  width: 20%;
  left: 0;
  z-index: -1;
}

.wrap__ImgTitle {
  width: 100%;
  margin-top: 2em;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.imgTitle {
  width: 70%;
}

.wrap__ImgH1 {
  margin-top: 3em;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.imgH1{
  width: 80%;
}

.wrap__ImgH2 {
  margin-top: 3em;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.imgH2 {
  width: 60%;
}

.wrap__Button {
  margin-top: 5em;
  margin-bottom: 10em;
  display: flex;
  justify-content: center;
}

.btnStart {
  width: 50%;
}

.imgHill{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}



@keyframes btnScale{
0%{
  transform: scale(1);
}
50%{
  transform: scale(1.1);
}
0% {
  transform: scale(1);
}
}

@keyframes moveCloud{
0% {
  left: 0
}

50% {
  left: 80%
}

0% {
  left: 0
}
}

@keyframes moveUpToDown {
  0% {
    margin-top: -2em;
  } 

  100% {
    margin-top: 2em;
  }
}
@keyframes moveDownToUpImg {
  0% {
    bottom:-10%;
  }

  100% {
    bottom:0;
  }
}
@keyframes moveDownToUpLottiePlay1 {
  0% {
    bottom: -10%;
  }

  100% {
    bottom: 2%;
  }
}
@keyframes moveDownToUpLottiePlay2 {
  0% {
    bottom: -10%;
  }

  100% {
  bottom: 8%;
  }
}
@keyframes moveDownToUpLottieGift {
  0% {
    bottom: -10%;
  }

  100% {
    bottom: 28%;
  }
}

/*********************For 720 resoltuion*****************************/

@media (min-width: 700px) and (max-width: 2000px) {
  .oxMain.is_loaded .imgCloudMain {
    animation: moveCloud 100s linear infinite;
  }

  .oxMain.is_loaded .wrap__ImgTitle {
    animation: moveUpToDown_720 ease 1.5s;
  }

  .oxMain.is_loaded .btnStart {
    animation: btnScale 1.5s infinite;
  }

  .oxMain.is_loaded .imgHill {
    animation: moveDownToUpImg_720 ease 1.5s;
  }

.imgCloudMain {
  position: absolute;
  bottom: 39%;
  width: 20%;
  left: 0;
  z-index: -1;
}

.wrap__ImgTitle {
  margin-top: 2em;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}
.imgTitle {
  width: 80%;
}

.wrap__ImgH1 {
  margin-top: 4em;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}
.imgH1 {
  width: 80%;
}

.wrap__ImgH2 {
  margin-top: 6em;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.imgH2 {
  width: 60%;
}

.wrap__Button {
  margin-top: 5em;
  margin-bottom: 10em;
  display: flex;
  justify-content: center;
}

.btnStart {
  width: 80%;
}

.imgHill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
}

@keyframes moveUpToDown_720 {
  0% {
    margin-top: -2em;
  }

  100% {
    margin-top: 5em;
  }
}

@keyframes moveDownToUpImg_720 {
  0% {
    bottom: -10%;
  }

  100% {
    bottom: 0;
  }
}

@keyframes moveDownToUpLottiePlay1_720 {
  0% {
    bottom: -10%;
  }

  100% {
    bottom: 2%;
  }
}

@keyframes moveDownToUpLottiePlay2_720 {
  0% {
    bottom: -10%;
  }

  100% {
    bottom: 8%;
  }
}

@keyframes moveDownToUpLottieGift_720 {
  0% {
    bottom: -10%;
  }

  100% {
    bottom: 28%;
  }
}